:root {
    --footer-height: 100px; /* Replace 100px with the desired height of your footer */
}
* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
	background: #f6f6f6;
}

.page-wrapper {
    display: flex;
    padding-left: 20px;
    align-items: stretch; /* Make sure all children take full height */
	
}



.clearfix::after {
    content: "";
    display: block;
    clear: both;
}



.text-input {
	padding: 0.2rem 1rem;
	display: block;
	width: 100%;
	border-radius: 0px;
	border: 1px solid #e0e0e0;
	outline: none;
	color: #444;
	line-height: 1.5rem;
	font-size: 1.1em;
	
}


/*Beginning of css for navbar*/


.myNav{
  grid-area: myNav;
  background-color: #faf9f9;
  width: 100%;
  background-color: #efbf1a;
  overflow: visible
  
}

/* The popup form - hidden by default */
.popup-background {
display: none; 
position: fixed; 
z-index: 1; 
left: 0;
top: 0;
width: 100%; 
height: 100%; 
overflow: auto;
background-color: rgba(0,0,0,0.4);
}
.inviteuser-form{
width: 25%;
padding: 10px;
background-color: white;
margin: auto;
margin-top: 90px;
}
.inviteuser-form input[type=text], .form-container input[type=password] {
width: 100%;
padding: 15px;
margin: 5px 0 22px 0;
border: none;
background: #f1f1f1;
}
.inviteuser-form input[type=text]:focus, .form-container input[type=password]:focus {
background-color: #ddd;
outline: none;
}
.inviteuser-form .btn {
background-color: #efbf1a;
color: white;
padding: 16px 20px;
border: none;
cursor: pointer;
width: 100%;
margin-bottom:10px;
opacity: 0.8;
}
.inviteuser-form .cancel {
background-color: #bbb;
transition: 0.4s;
}
.inviteuser-form .cancel:hover {
background-color: red;
opacity: 1;
}

.nav{
  max-width: fit-content;
  max-height: 90px;
}

.navbar{
height: 90px;
border: none;
}

.navbar-brand {
  margin-left: 1px; /* or whatever size you want */
  padding-top: 7px; /* this will push it down */
  padding-bottom: 7px; /* this can give more space at the bottom */
  
}

#logo {
max-width: 1000px; /* Set a maximum width for the logo */
height: auto; /* Maintain the aspect ratio */
margin-right: -1000px; /* Add some margin to separate the logo from text */
}

.navbar-collapse {
  position: relative;  /* Ensure it's positioned */
  z-index: 1000;       /* Any high number to ensure it's on top of other page elements */
}

.navbar.navbar-expand-lg.navbar-dark.bg-dark {
  background-color: #efbf1a !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  padding: 23px 30px; /* Keep padding between elements on the nav bar horizontally and vertically*/
  height: 90px;
  padding-top: 30px;
  background-color: #efbf1a;


}




.navbar-dark .navbar-nav .nav-link:hover {
  background-color: #f6dc80; /* Background color on hover */
  color: black; /* Text color on hover */
}




/* Style the dropdown menu */
.navbar-dark .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
  display: block;
  position: absolute;
  top: 90px;
  width: 170px;
  background: white;
  box-shadow: none;
  border: 0; /* Remove any border that might create a gap */
  padding: 0; /* Remove any padding to ensure full highlighting */
  margin: 0; /* Remove any margin that might create a gap */
  
}

/* Style the dropdown menu links */
.navbar-dark .navbar-nav .nav-item.dropdown:hover .dropdown-menu .dropdown-item {
  padding: 10px;
  color: black;
  font-size: 1.2em;
  text-decoration: none;
  border: 0; /* Remove any border on the dropdown items */
  margin: 0; /* Remove any margin on the dropdown items */
}



/* Style the dropdown menu links on hover */
.navbar-dark .navbar-nav .nav-item.dropdown:hover .dropdown-menu .dropdown-item:hover {
  background-color: #f6dc80;; /* Background color on hover */
  color: black; /* Text color on hover */
}

/* Style the logo */
.navbar .navbar-brand {
  float: left;
  height: inherit;
  margin-left: 1em;
  color: white;
  display: flex;
  
  
}

.material-symbols-outlined {
font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 24;
}

#profileIcon {
font-size: 38px;
vertical-align: middle;
}

.logo{
  /* want the image to stretch to larger than original size */
  max-width: 100%; 
  height: auto;
  max-height: fit-content;
  background-size: cover;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*End of css for navbar*/




/* ALL BLOG POSTS */


.admin-content .content .all-posts-title{
	text-align: center;
	margin: 40px;
	font-size: 2.4em;
}

.admin-content .content {
	text-align: center;
	width: 60%;
	margin: 30px auto 30px;
	
	

}


.text-input {
    margin-bottom: 25px; 
}




.text-input {
    width: 100%;
    padding: 10px;
    margin-top: 5px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 1em; 
}


textarea {
    width: 80%; 
    height: 300px;
    padding: 10px;
    margin: 10px auto; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    resize: none;
}


/* Style the submit button */
#postButton, #draftButton {
  
	background: #2980B9;
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    font-size: 1.2em; 
    cursor: pointer; 
	margin-top: 10px;
	display: inline-block; 
	margin-right: 5px; 
	cursor: pointer;
	text-align: center;
	margin-bottom: 15px;
	vertical-align: middle;
    margin-left: 0; 
}






#draftButton {
    background-color: #f7f7f7;
	  
    color: #555;
    border: 1px solid #ccc;

}


#postButton:hover {
    background-color: #216a9b;
}

#draftButton:hover {
    background-color: #e6e6e6;
}


.content div {
    text-align: left; 
}


#body {
    margin-bottom: 10px; 
    resize: none;
}

.character-limit-message {
    font-size: 0.9em;
    color: #666;
	display: block;
    position: relative; 
    margin-top: 10px; 
    text-align: center;
}


.buttons-container {
    display: flex; 
    justify-content: center; 
    gap: 20px; 
    margin-top: 20px; 
	margin-right: 10px;

}


.page-wrapper {
    display: flex; 
    padding-left: 20px;
}


.content-wrapper {
    display: flex;  
    flex-direction: column;  
 
    align-items: center; 
    height: 100%;  
}



#post-form {
    max-width: 90%;  
    width: 100%;  
}








#post-body {
    width: 100%;      
    display: block;   
}



.sidebar {
   flex: 0 0 30%;
    width: 100%; 
    border-left: 1px solid #ccc; 
	height: 100%;
	padding: 5%;
}



.sidebar h2 {
    text-align: center;
	margin-top: 20px;
}




.draft-title, .draft-topic {
    width: 100%;
    padding: 12px 10px;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 5px;
}

#drafttopiclabel, #drafttitlelabel, #draftcontentlabel{
    color: grey;
    padding-bottom: 5px;
}

#drafttopiclabel, #drafttitlelabel, #draftcontentlabel{
    color: grey;
    padding-bottom: 5px;
}


#posttopiclabel, #posttitlelabel, #postbodylabel {
	text-align:left;
	font-size: 1.3em;
    font-weight: bold;
    display: block; 
    margin-top: 10px; 
}



.content-wrapper > *,
.sidebar > * {
    margin-bottom: 20px;
}

.controls-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px; 
    width: 100%;
    margin: 10px auto;
    float: left;
}


.controls-container button {
    width: auto; 
    max-width: 100%; 
	margin-bottom: 10px;
}


.character-limit-message {
    font-size: 0.9em;
    color: #666;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-right: 10px;

}


.no-drafts-message {
  text-align: center;
  margin-top: 25px;
}


.media.draft {
    background-color: #ffffff; 
    border: 1px solid #e0e0e0; 
    border-radius: 5px;
    padding: 10px; 
    margin-bottom: 20px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
	margin-right: 10px;
	position: relative;
}


.media-body.draft-content {
    padding: 10px 0; 
}



.draft-actions {
 
    bottom: 10px;       
    left: 10px;         
    display: flex;       
}
.save-draft{
    background-color: #bbb;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    width: 90px;
    height: 30px;
    float: right;
    font-size: 14;
}
.delete-draft{
    background-color: #bbb;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    width: 90px;
    height: 30px;
    float: right;
    font-size: 14;
    transition-duration: 0.4s;
}

.delete-draft:hover{
    background-color: red;
    color: white;

}

.save-draft:hover{
    background-color: #52ab0c; 
    color: white;

}

.character-limit {
    font-weight: normal; 
    font-size: 0.8em; 
    color: #6c757d; 
}

.post-draft{
	background: #2980B9; 
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    width: 90px;
    height: 30px;
    float: right;
    font-size: 14;
}

.post-draft:hover{
    background-color: #216a9b;
    color: #dbe300;

}

.controls-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.button-and-message-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap; 
}

.button-container {
  margin-right: 10px; 
}

.message-container {
  display: flex;
  align-items: center;
  white-space: nowrap; 
}

.message {
  display: none; 
  margin-left: 10px; 

  
}

.message.active {
  display: block; 
}


.draft-body {
    width: 100%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto; 
    padding: 12px 10px;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 4px;
    box-sizing: border-box;
	
}


.all-posts-title {
  margin-top: 20px;
}

.error-message-wrapper, .success-message-wrapper {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 70%; 
    margin: 10px auto;
}

.message {
    font-size: 1em;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: inline-flex; 
    align-items: center;
    gap: 10px; 
}

#error-message {
    background: #FFC1C1;
    color: #D90429; 
    display: none;
}

#success-message {
    background: #D5ECC2; 
    color: #31A24C; 
    display: none;
}


.error-icon {
    color: #D90429;
}

.success-icon {
    color: #31A24C;
}


#error-message.show, #success-message.show {
    display: block;
}




.media.draft {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
  
}

.draft-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; 
}

.draft-actions {
  flex-grow: 0;
}

.draft-date {

  margin-left: auto;
  padding-right: 10px; 
  font-size: 0.8em;
  white-space: normal; 
}




.draft-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
}


.draft-actions {
  margin-bottom: 5px; 
  margin-right: 2px;
}


.draft-date {
  margin-top: 5px; 
  margin-left: 2px;
}



.sidebar .label {
    color: grey;
    padding-bottom: 5px;
}


.input-field, .draft-body {
    width: 100%;
    padding: 12px 10px;
    display: block;
    border: 1px solid grey;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 5px;
}

/*Footer Content*/
.footer {
  background: #303036;
  color: #d3d3d3;
  height: 140px;
  position: relative;
}
.footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-left: 2vw;
}
.footer-title {
  font-family: 'Churchward Design Bold'; 
  font-size: 3vh;  
  margin-bottom: 0.5vh; 
}
.footer .footer-content .footer-section {
  flex: 1;
  padding: 2px;
}
.footer .footer-content .about .contact-details span {
  display: block;
  font-size: 1.1em;
}

#notification-popup {
    position: fixed; 
    top: 20%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1000; 
    background-color: white; 
    color: #333; 
    padding: 20px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; 
    min-width: 200px; 
}

#notification-message {
    margin: 0; 
}


.modal {
  display: none;
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}


.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 20%; 
}




.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;   transition: color 0.2s; 
}

.close:hover,
.close:focus {
  color: red; 
  text-decoration: none;
}



.modal button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  outline: none; 
  margin: 5px; 
  transition: background-color 0.3s, box-shadow 0.3s; 
}


#confirmPost {
  background-color: #007bff; 
  color: white; 
}




.confirmation-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.confirmation-box {
  background: #fff;
  width: auto;
  max-width: 400px; 
  margin: 0 20px; 
  padding: 30px;
  border-radius: 10px; 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); 
  text-align: center;
  position: relative;
  z-index: 10000;
  border: 1px solid #ddd; /* Added border */
}

.confirmation-box p {
  font-size: 16px; 
  margin-bottom: 20px;
  color: #333; 
}

.confirmation-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.confirmation-buttons button {
  background-color: #007bff;   color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.confirmation-buttons button.confirm-no {
  background-color: #6c757d; 
}

.confirmation-buttons button:hover {
  background-color: #0056b3; 
}

.confirmation-buttons button.confirm-no:hover {
  background-color: #545b62; 
}

.confirmation-popup {
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 300px; 
  background: #ffffff;
  padding: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1001; 
  border-radius: 5px;
  border: 1px solid #cccccc; 
}

.confirmation-content {
  text-align: center; 
}

.confirmation-content p {
  font-size: 1em; 
}

.confirmation-buttons {
  margin-top: 20px; 
}

.confirmation-buttons button {
  padding: 10px 20px; 
  margin: 0 10px;
  border: none; 
  border-radius: 4px; 
  background-color: #007bff; 
  color: white; 
  cursor: pointer; 
}

.confirmation-buttons button.confirm-no {
  background-color: #6c757d; 
}

@media (max-width: 991px) {

    .navbar-collapse {
        background-color: #de6b25; 
        padding: 10px; /* Add padding to the mobile menu */
    }
	
	.navbar-dark .navbar-nav .nav-link {
		color: white;
		font-size: 1.2em;
		text-decoration: none;
		padding: 25px 30px;
		padding-top: 20px;

	
	}

    .navbar-dark .navbar-nav .nav-item {
        background-color: transparent; 
        padding: 10px 0; 
    }

    .navbar-dark .navbar-nav .nav-item .nav-link {
        color: white; /* Text color for the menu items */
    }

    .navbar-dark .navbar-nav .nav-item .nav-link:hover {
        background-color: #ffa200; 
        color: black; 
    }




	
	.sidebar {
	    flex: 0 0 0%; 
		width: 100%; 
		
		height: 0%;
		padding: 0%;
	}
	



}



