.taskCreateBody {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  padding: 1rem 17.5%;
}

.taskCreateBody p {
  margin: 0;
}

.taskCreateBodyAll {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  gap: 0.5rem;
  padding-bottom: 1.5rem;
}

.taskCreateBodyTitle {
  color: var(--clr-grey600);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 135.5%;
  /* 2.0325rem */
  letter-spacing: 0.3rem;
}

.taskCreateBodyInput {
  border: 0;
  display: inline-flex;
  padding: 0.625rem;
  justify-content: center;
  align-items: center;

  border-radius: 0.3125rem;
  border-bottom: 1px solid var(--clr-placeholder);

  text-align: center;

  background: transparent;
}

.taskCreateBodyInput::placeholder {
  font-weight: 300;
  line-height: 135.5%;
  /* 1.01625rem */
  letter-spacing: 0.15rem;
}

.taskCreateBodyInput-Desc {
  height: 12ch;
  resize: none;
}

.taskCreateBodyInput-Date {
  background-color: transparent;
}

.btn-taskCreateConfirm {
  background-color: var(--clr-placeholder) !important;
  color: var(--clr-white);
}

.btn-taskCreateConfirm:hover,
.btn-taskCreateConfirm:focus {
  color: var(--clr-grey600);
}